body {
  background-color: grey;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Libre Baskerville", serif;
}
h1 {
  font-size: xx-large;
  padding: 25px;
  text-align: center;
  margin: 10px;
}
h2 {
  font-size: 2em;
}

.bigdog {
  display: flex;
  padding: 25px;
  margin: auto;
  width: 87em;
  flex-direction: row;
  justify-content: space-around;
  background-color: darkcyan;
}
.card {
  border: 3px solid chocolate;
  padding: 0.7rem;
  box-shadow: 10px 10px 10px darkgreen;
  border-radius: 5px 30px 5px 5px;
}

.bigdog-pics {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  overflow: hidden;
}
.bigdog-caption {
  background: darkgreen;
  padding: 10px;
  margin: 0;
  border-radius: 5px 30px 5px 5px;
}
.bigdog-row {
  display: flexbox;
  justify-content: space-around;
}
